@model Bookstore_MVC.Models.Book

<div class="card h-100">
  <div class="card-body">
    <div class="py-2">
      @if (@Model.ImageData != null)
      {
          <!-- Call your controller action -->
          <img class="card-img-top img-fluid mx-auto fixed-image rounded" style="height:200px;object-fit:contain;width:100%;" src="@Url.Action("GetImage", "Book", new { id = Model.Id })" alt="@Model.Title"/>
      }
      else
      {
          <img class="card-img-top img-fluid mx-auto fixed-image rounded" style="height:200px;object-fit:contain;width:100%;" src="/img/NOT-AVAILABLE.png" alt="Image not available"/>
      }
    </div>
      <div>
        <h6 class="py-2 text-capitalize fw-bold" >@Model.Title</h4>
      </div>
      <div class="pb-2">
        <h7 class="text-capitalize">by @Model.Author</h4>
      </div>
      @if(@Model.Description == null || Model.Description ==""){
        <div  class="text-muted">
          <p>No Description Available</p>
        </div>
      }else{
        <div>
          <p>@Model.Description</p>
        </div>
      }
  </div>
  <div class="card-footer">
          <div class="btn-group-justified mx-2 px-1"></div>
      <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
      <button type="button" class="btn btn-danger" data-id="@Model.Id" onclick="DeleteBook(this)">Delete</button>
  </div>
</div>
