@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Title</title>
</head>
<body>
    <div>
        @{
            @model MVCdemo.Models.Consumers
        }
        <h2>This List is made using Strongly Type View</h2>
        <ul>
            <li>@Model.Id</li>
            <li>@Model.age</li>
            <li>@Model.name</li>
        </ul>
    </div>
    <div>
        @{
            var consumer = ViewBag.Consumer;
            var header = ViewBag.Header;
        }
        <h2>@ViewBag.Header</h2>
        <ul>
            <li>@consumer.Id</li>
            <li>@consumer.name</li>
            <li>@consumer.age</li>
        </ul>
    </div>
</body>
</html>