@using Microsoft.AspNetCore.Components.Web
@using Microsoft.IdentityModel.Tokens
@{
    ViewData["Title"] = "Manage Account";
}
@model List<Bookstore_MVC.Models.AccountManagementDTO>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="pt-3">
                <h4>
                    @ViewData["Title"]
                </h4>
            </div>
            <div class="container-fluid">
                <form asp-controller="Account" asp-action="Register" method="get" style="display:inline;">
                    <button type="submit" class="btn btn-success mb-3">Register Account</button>
                </form>
            </div>
            @if(@Model.Count > 0){
            <div>
                <div>
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-info">@TempData["Message"]</div>
                    }
                </div>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-start">Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    @{ int rowNo = 1; }
                        @foreach (var account in Model)
                        {
                            <tr>
                                <td>
                                    @rowNo
                                </td>
                                <td class="text-start">
                                    @account.Username
                                </td>
                                @if(string.IsNullOrEmpty(@account.Email)){
                                <td>
                                    -
                                </td>
                                }else{
                                <td>
                                    @account.Email
                                </td>
                                }
                                @if(string.IsNullOrEmpty(@account.PhoneNumber)){
                                <td>
                                    -
                                </td>
                                }else{
                                <td>
                                    @account.PhoneNumber
                                </td>
                                }
                                <td>
                                    @account.Role
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center gap-2">
                                        <a asp-controller="Admin"
                                        asp-action="EditAccount"
                                        asp-route-id="@account.Id"
                                        class="btn btn-primary btn-sm">
                                        Edit
                                        </a>

                                        <form asp-controller="Admin"
                                            asp-action="DeleteAccount"
                                            asp-route-id="@account.Id"
                                            method="post"
                                            class="m-0 p-0"
                                            onsubmit="return confirm('Are you sure you want to delete this account?');">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            rowNo++;
                        }
                    </tbody>
                </table>
            </div>
        }else{
            <div class="mx-auto">
                <h4 class="text-center">No account registered</h4>
            </div>
        }
        </div>
    </div>
</body>