@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<Bookstore_MVC.Models.Book>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css">
    @* Include bootstrap CSS and JS file *@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="py-2">
            <div>
            Sort By
            </div>
            <div>
                <!-- Title -->
                <a href="@Url.Action("Index", "Book", new { sortOrder = ViewBag.NameSortParam })"
                class="btn btn-outline-primary align-items-center">
                    Title
                    @if (ViewBag.CurrentSort == "name_asc")
                    {
                        <img src="~/img/bootstrap_icons/arrow-up.svg" alt="Ascending" width="16" height="16" />
                    }
                    else if (ViewBag.CurrentSort == "name_desc")
                    {
                        <img src="~/img/bootstrap_icons/arrow-down.svg" alt="Descending" width="16" height="16" />
                    }
                </a>

                <!-- Date -->
                <a href="@Url.Action("Index", "Book", new { sortOrder = ViewBag.DateSortParam })"
                class="btn btn-outline-primary align-items-center">
                    Date Published
                    @if (ViewBag.CurrentSort == "date_asc")
                    {
                        <img src="~/img/bootstrap_icons/arrow-up.svg" alt="Ascending" width="16" height="16" />
                    }
                    else if (ViewBag.CurrentSort == "date_desc")
                    {
                        <img src="~/img/bootstrap_icons/arrow-down.svg" alt="Descending" width="16" height="16" />
                    }
                </a>

                <!-- Price -->
                <a href="@Url.Action("Index", "Book", new { sortOrder = ViewBag.PriceSortParam })"
                class="btn btn-outline-primary align-items-center">
                    Price
                    @if (ViewBag.CurrentSort == "price_asc")
                    {
                        <img src="~/img/bootstrap_icons/arrow-up.svg" alt="Ascending" width="16" height="16" />
                    }
                    else if (ViewBag.CurrentSort == "price_desc")
                    {
                        <img src="~/img/bootstrap_icons/arrow-down.svg" alt="Descending" width="16" height="16" />
                    }
                </a>
            </div>
        </div>

        @if(Model.Count() != 0){
        <div>
            <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5 g-3">
            @foreach(var book in Model){
                <div class="col">
                    <partial name="_BookCard" for="@book"></partial>
                </div>
            }
            </div>
        </div>
        } else {
            <div class="text-center align-middle m-5">
                <h1>
                    Book list is empty
                </h1>
                <p>
                    please add book data first
                </p>
            </div>
        }
        <div>
            <p id="message"></p>
        </div>
        <div class="mx-auto pt-5">
            <p>Made with ASP.NET MVC, SQL Express Server, Bootstrap, and native Javascript</p>
        </div>
    </div>
</div>
</body>
</html>
